@prefix: circular-progress-bar;

.@{prefix} {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    cursor: default;

    .full(@s:100%) {
        position: absolute;
        width: @s;
        height: @s;
    }

    // wrap all bars
    .@{prefix}-wrapper {
        .full();
        overflow: hidden;

        // one for every bar
        .@{prefix}-bar {
            .full();

            .@{prefix}-clip, .@{prefix}-part {
                .full();
                clip-path: inset(0 0 0 50%);
                transition: transform ease-out;

            }
            .@{prefix}-clip  .@{prefix}-part {
                border-radius: 50%;
                transition-property: transform, background-color;
                // Bar's color is here
            }
        }
    }

    .@{prefix}-value {
        position: absolute;
        border-radius: 50%;
        text-align: center;

        .@{prefix}-text {
            font-family: monospace;
            color: #FFF;
            mix-blend-mode: difference;
        }
    }
}